aside {
   grid-area: sidebar;
   background-color: #46f1467e;
   color: red;
   padding: 20px;
   
  }

  li {
list-style-type: none;
  }

 .item a {
   color: white;
 }

 .item a.activeLink {
    color: green;
 }

 .disabled {
    color: lightgrey;
    text-decoration: underline;
 }

 