aside {
   grid-area: sidebar;
   background-color: #46f1467e;
   color: red;
  }

  .item {
   color: white;
 }

 .active {
    color: green;
 }

 .disabled {
    color: lightgrey;
    text-decoration: underline;
 }

 a {
    color: white;
 }