

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "header header header"
  "sidebar content content"
  "footer footer footer";
  /* width: 100%;
  height: 100vh; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}

.item-menu {
  color: black;
}






